:root{
    --cor-titulo: #3B546C;
    --cor-subtitulo: #474747;
    --cor-fundo: #F1EFE9;
    --cor-menu: #474747;
    --cor-menu-destaque: #3b546c;
    --cor-footer: #DFDEDB;

}

@font-face {
    font-family: "Aristotelica";
    src: url("./../../src/assets/fontes/aristotelica-display-trial-demibold.ttf") format('ttf');
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Aristotelica", sans-serif;
}

body{
    background-color: var(--cor-fundo);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    width:100vw;
}

.container{
    width: 90vw;
    display: flex;
    flex-direction: column;
}

/* ____________HEADER_____________*/

header{
    margin-top: 80px;
}

header .container{
    display: flex;
    justify-content: space-between;
}

.menu{
    display: flex;
}

header span{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

header a{
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
    color: var(--cor-menu);
    opacity: 0.7;
    filter: grayscale(100%);
    transition: all 0.4s;
}

header a:hover,
header a img:hover{
    filter: grayscale(0%);
    opacity: 1;
    scale: 1.05;
}

header img{
    width: 90px;
    transition: all 0.4s;
}

header img:nth-child(1){
    margin-right: 30px;
}


header .motion-logo{
    filter: grayscale(0%);
    opacity: 1;
}

header .motion-logo img{
    width: 200px;
    margin-bottom: 15px;
}

/* ------------------------Section Produtos------------------------ */

#section-produtos .container{
    justify-content: center;
    align-items: center;
}

#section-produtos .titulo{
    padding-left: 100px;
    align-self: flex-start;
}

.titulo{
    font-size: 36px;
    margin-top: 90px;
    color: var(--cor-subtitulo);
}

.cards{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 80%;
}

.card{
    width: fit-content;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-img{
    width: 600px;
    height: 370px;
    border: 5px solid lightgray;
    border-radius: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-img img{
    height: 120px;
}

.card a{
    padding: 22px 40px;
    border-radius: 40px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 50px;
    color: #fefefe;
    font-weight: 500;
    transition: all 0.4s;
}

.card:nth-child(1) a{
    background-color: #C66D2C;
}

.card:nth-child(2) a{
    background-color: #315C32;
}

.card a:hover{
    scale: 1.05;
}

/* ________________Footer__________________ */

footer{
    position: relative;
    height: 470px;
    width: 100%;
    margin-top: 350px;
}

footer .imagem-footer-carros{
    position: absolute;
    width: 100vw;
    top: -200px;
    z-index: 1;
    filter: brightness(0.96);
}

footer .fundo{
    background-color: var(--cor-footer);
    height: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(0.96);

}

footer .links{
    display: flex;
}

footer .somos, .produtos, .contato, .icones{
    display: flex;
    flex-direction: column; 
    justify-content:flex-start;
    width: 220px;
    height: 150px;
    margin-top: 10px;
}

footer .imagem-footer{
    width: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

footer .somos a, .produtos a, .contato a,
.somos h3, .produtos h3, .contato h3{
    margin-bottom: 15px;
    font-size: 24px;
    color: #4f4f4f;
    text-decoration: none;
    width: fit-content;
    transition: all 0.2s;
}

footer .somos a:hover, .produtos a:hover, .contato a:hover{
    scale: 1.1;
}

footer .somos h3, .produtos h3, .contato h3{
    font-size: 26px;
    color: var(--cor-subtitulo);
}

footer .imagem-footer img{
    height: 150px;
}

footer .icones img{
    height: 40px;
    transition: all 0.2s;
    filter: brightness(0.7);
}

footer .icones img:hover{
    filter: brightness(0.6);
    scale: 1.1;
}

footer .icones a{
    margin: 10px 0px;
}

footer .icones a:nth-child(1){
    margin-top: 0px;
}

footer .icones .redes-sociais a{
    margin: 0px 2px;
}